In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
df=pd.read_csv('dataset_final.csv')

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''

total_pokemons_dataset=df.shape[0]
print(f'Tenemos {total_pokemons_dataset} pokemons.')

Tenemos 800 pokemons.

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
pokemons_veneno=df[df['Type 1']=='Poison'].shape[0]
print(f'Tenemos {pokemons_veneno} pokemons de tipo venenoso.')

Tenemos 28 pokemons de tipo venenoso.

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
tipos_pokemon=df['Type 1'].unique()
print(f'Tenemos {len(tipos_pokemon)} tipos diferentes de pokemons.')

Tenemos 18 tipos diferentes de pokemons.

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
tipos_pokemons=df['Type 1'].value_counts()
print(tipos_pokemons)


'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
tipos_pokemons=df['Type 1'].value_counts()
print('Donde hay mas pokemons es en {}'.format(tipos_pokemons.index[0]))

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64
Donde hay mas pokemons es en Water

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
elpokemon_masrapido=df[df['Speed']==df['Speed'].max()]
print('El mas rapido es {}'.format(elpokemon_masrapido['Name'].values[0]))

El mas rapido es DeoxysSpeed Forme

In [8]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
pokemons_df100=df[df['Defense']>100].shape[0]
print('Tenemos {} pokemons con una defensa mayor a 100.'.format(pokemons_df100))

Tenemos 123 pokemons con una defensa mayor a 100.

In [9]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
pokemons_top=df[(df['Defense']>100)&(df['Speed']>100)].shape[0]
print('Tenemos {} pokemons con una defensa y velocidad superior.'.format(pokemons_top))

Tenemos 9 pokemons con una defensa y velocidad superior.

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
dataset_tipos=df.sort_values(by=['Type 1','Type 2'])
dataset_tipos

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [11]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
dataset_FyA=df[df['Type 1'].isin(['Water','Fire'])]
dataset_FyA

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendarios=df[df['Legendary']==True]
print('Tenemos todos estos pokememons legendarios:')
print(legendarios)

Tenemos todos estos pokememons legendarios:
       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

In [13]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
legendarios.describe()

df[df["Legendary"] == False].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

In [14]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

prom_legendarios = legendarios[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean()
prom_nolegendarios = no_legendarios[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean()


nuevo_df=pd.DataFrame([prom_legendarios,prom_nolegendarios],index=['Legendary','Not Legendary'])
nuevo_df

NameError: name 'no_legendarios' is not defined

In [ ]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
df['doble tipo']=df['Type 2'].notnull()
df

In [ ]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df.columns
df[df['doble tipo']].drop(columns = ['Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'doble tipo']).sort_values(by = ['Type 1', 'Type 2', 'Name'])

In [ ]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

def total_precio(articulos,compra):
  precio=0
  for index in compra:
    precio+=articulos[index]
  return precio

print(total_precio(articulos,compra))


# B. Una función que calcule el precio total de la compra con un descuento del 10%

def total_precio_descuento(articulos,compra):
  precio=0
  for index in compra:
    precio+=articulos[index]
  return precio*0.9
print(total_precio_descuento(articulos,compra))


# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def total_precio_compra_sup100(articulos,compra):
  precio=0
  for index in compra:
    precio+=articulos[index]
  if precio>100:
    precio*=0.9
  return precio
print(total_precio_compra_sup100(articulos,compra))

# D. Una función que calcule el precio total aplicando el IVA (21%)

def total_conIVA(articulos,compra):
  precio=0
  for index in compra:
    precio+=articulos[index]
  precio*=1.21
  return round(precio,2)

print(total_conIVA(articulos,compra))

# E.lista los artículos cuyo precio es superior a 20€


def precio_mayor20(articulos):
  sup20 = []
  for key, value in articulos.items():
    if value > 20:
      sup20.append(key)
  return sup20

print(precio_mayor20(articulos))

In [15]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]
def notas(curso,alumnos):
  total=[]
  for i in range(len(alumnos)):
    if alumnos[i][2]==curso:
      nombre=(alumnos[i][0]+" "+alumnos[i][1])
      promedio=(sum(alumnos[i][3])/len(alumnos[i][3]))
      total.append((nombre,promedio))
  return total

print(notas('1',alumnos))
print(notas('2',alumnos))

[('Juan Pérez', 7.0), ('Luis González', 7.0), ('Pedro Rodríguez', 7.0), ('Marta López', 7.0), ('Javier Sánchez', 7.0), ('Sergio Jiménez', 7.0), ('Pablo Álvarez', 7.0)]
[('Ana García', 7.0), ('María Martínez', 7.0), ('Lucía Hernández', 7.0), ('Sara Díaz', 7.0), ('Miguel Fernández', 7.0), ('Sandra Ruiz', 7.0), ('María Gómez', 7.0)]